# .github/workflows/manual-approval-example.yml
name: Manual_Approval

on:
  workflow_dispatch:   # Allows manual trigger from the Actions tab
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
        type: choice
        options:
          - info
          - warning
          - debug

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - run: echo "Building the project..."

  test:
    runs-on: ubuntu-latest
    needs: build
    environment: test
    steps:
      - run: echo "Running tests..."

  test-10:
    runs-on: ubuntu-latest
    needs: build
    environment: test
    steps:
      - run: echo "Running tests..."

  test-13:
    runs-on: ubuntu-latest
    needs: build
    environment: test
    steps:
      - run: echo "Running tests..."
